# Dossiers et fichiers de configuration système
.env
.phpunit.result.cache
.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Dossiers générés par Composer
/vendor

# Dossiers générés par NPM et Yarn
/node_modules
/public/js
/public/css

# Dossiers de sauvegarde de l'éditeur
.idea

# Fichiers de sauvegarde de l'éditeur
*.swp
*~

# Fichiers de logs
/storage/logs/*.log

# Fichiers de cache
/bootstrap/cache

# Fichiers de config spécifiques à l'utilisateur
/config/app_local.php

# Fichiers de session
/storage/framework/sessions

# Fichiers de vues compilées
/storage/framework/views

# Fichiers d'application spécifiques à l'utilisateur
/public/hot
/public/storage
/public/phpmyadmin

# Fichiers de mix-manifest
/public/mix-manifest.json

# Fichiers générés par PhpStorm
.phpstorm*.meta.php
.idea/

# Cache de Vagrant
.vagrant/

# Cache d'Homestead
Homestead.json
Homestead.yaml
